:root {
    --navbtnColor: #D6FF5C;
    --primaryColor: #E7F0FC;
    --secondaryColor: #FCF5F6;
    --darkColor: #000;
    --textColor: #adabab;
    }

    .container{
        display: flex;
        justify-content: space-around;
        padding-top: 6.7rem;
      
    }


    .text-article .text p{
        padding-bottom: 2rem;
        font-family: "Titillium Web", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1rem;
    }

.container h1{
    font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
    font-size: 5rem;
    padding: 10px;
    letter-spacing: 5px;
    line-height: 6rem;
    /* margin-top: 4rem; */
}

.container .btn{
    background-color: var(--navbtnColor);
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 800;
    font-style: bolder;
}



.btn{
    margin-bottom: 1rem;
}

.arrow a{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: baseline;
    padding-inline: 30px;
    color: var(--darkColor);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
    font-weight: 600;
   
}


.side-img img{
    width: 500px;
    border-radius: 10px;
}
.side-img{
   position: relative;
}





.bubble-container img{
    width: 100px;
}

.bubble-container .first-col .img-1{
    left: -17vh;
    top: 0vh;
    position: absolute;
}

.bubble-container .first-col .img-2{
    left: -17vh;
    top: 40vh;
    position: absolute;
}

.bubble-container .second-col .img-3{
    right: -15.5vh;
    top: 0vh;
    position: absolute;
}

.bubble-container .second-col .img-4{
    right: -15.5vh;
    top: 40vh;
    position: absolute;
}

.lower-section{
    display: none;
}




@media only screen and (max-width: 1028px) {
    .container h1{
        font-family: "Titillium Web", sans-serif;
        font-weight: 900;
        font-style: bold;
        font-size: 2rem;
        letter-spacing: 2px;
        line-height: 3rem;
        padding-right: 4rem;
        max-width: 100%;
    }

    .container .btn{
        background-color: var(--navbtnColor);
        width: 50%;
        padding: 10px;
        border-radius: 10px;
    }

    .container{
        display: flex;
        flex-direction: column;
        padding: 10%;
        padding-top: 6rem;
        border-bottom: 0px;
    }

    .text-article h1{
        font-family: "Titillium Web", sans-serif;
        font-weight: 800 !important;
        font-style: normal;
        font-size: 32px;
    }
  
    .text-articl .text p{
        font-family: "Titillium Web", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 13px;
    }
  

    .img img{
        display: flex;
        justify-content: center;
        margin: auto 40px;
        width: 2000px;
        padding: 3px;
        margin-top: 2rem;
    }

    

    .side-img{
        width: 100%;
    }

    .text{
        display: flex;
        flex-direction: column;
    }

    .arrow a{
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: baseline;
        padding-inline: 2%;
        color: var(--darkColor);
        text-decoration: none;
        font-size: 16px;
        font-family: "Titillium Web", sans-serif;
        font-style: normal;
        font-weight: 600;
       
    }
    
    .container .btn{
        background-color: var(--navbtnColor);
        width: 60%;
        padding: 5%;
        border-radius: 10px;
        font-size: 1rem;
        font-family: "Titillium Web", sans-serif;
        font-weight: 800;
        font-style: bolder;
    }

    .second-col .img-1{
        display: none;
    }

    .bubble-container .first-col .img-2{
        width: 100px;
        position: absolute;
        transform: translateX(100%);
        top: 30vh;
        z-index: -1;
    }

    .first-col .img-1 {
        width: 100px;
        position: relative;
        left: 20vh;
        transform: translateX(100%);
    }

    .second-col .img-3 {
        width: 100px;
        position: relative;
        left: 80%;
        transform: translateY(10%);
    }


    .second-col .img-4 {
        width: 100px;
        position: relative;
        left: 74%;
        transform: translateY(-95%);
        transition: all 1s round ease-in linear;
    }

    @keyframes round{
        0% {
            transform: translateY(0%);
        }

        30%{
            transform: translateX(30%);
        }
    }

    
}


@media only screen and (max-width: 768px){
    .side-img img{
        display: block;
       width: 70%;
    }

    .second-col .img-1{
        display: none;
        left: 4.5vh;
        width: 10px;
        position: absolute;
    }


    .first-col .img-1 {
        width: 100px;
        position: relative;
        left: 20vh;
        transform: translateX(100%);
    }

    .second-col .img-3 {
        width: 100px;
        position: relative;
        left: 80%;
        transform: translateY(10%);
    }


    .second-col .img-4 {
        width: 100px;
        position: relative;
        left: 74%;
        transform: translateY(-95%);
        transition: all 1s round ease-in linear;
    }

    
}