:root {
    --navbtnColor: #D6FF5C;
    --primaryColor: #E7F0FC;
    --secondaryColor: #FCF5F6;
    --darkColor: #000;
    --textColor: #adabab;
    }

    .container{
        display: flex;
        justify-content: space-around;
        padding-top: 3rem;
      
        
    }


    .text-article .text p{
        padding-bottom: 2rem;
        font-family: "Titillium Web", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1rem;
    }

.container h1{
    font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
    font-size: 5rem;
    padding: 10px;
    letter-spacing: 5px;
    line-height: 6rem;
    /* margin-top: 4rem; */
}

.container .btn{
    background-color: var(--navbtnColor);
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 800;
    font-style: bolder;
}



.btn{
    margin-bottom: 1rem;
}

.arrow a{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: baseline;
    padding-inline: 30px;
    color: var(--darkColor);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
    font-weight: 600;
   
}


.side-img img{
    width: 500px;
    border-radius: 10px;
}
.side-img{
   position: relative;
}





.bubble-container img{
    width: 100px;
}

.bubble-container .first-col .img-1{
    left: -17vh;
    top: 0vh;
    position: absolute;
}

.bubble-container .first-col .img-2{
    left: -17vh;
    top: 40vh;
    position: absolute;
}

.bubble-container .second-col .img-3{
    right: -15.5vh;
    top: 0vh;
    position: absolute;
}

.bubble-container .second-col .img-4{
    right: -15.5vh;
    top: 40vh;
    position: absolute;
}





@media only screen and (max-width: 1028px) {
    .container h1{
        font-family: "Titillium Web", sans-serif;
        font-weight: 900;
        font-style: bold;
        font-size: 2rem;
        letter-spacing: 2px;
        line-height: 3rem;
        padding-right: 4rem;
    }

    .container .btn{
        background-color: var(--navbtnColor);
        width: 50%;
        padding: 10px;
        border-radius: 10px;
    }

    .container{
        padding: 10%;
    }
  

    .side-img img{
        visibility: hidden;
       width: 200px;
    }

    .arrow a{
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: baseline;
        padding-inline: 2%;
        color: var(--darkColor);
        text-decoration: none;
        font-size: 16px;
        font-family: "Titillium Web", sans-serif;
        font-style: normal;
        font-weight: 600;
       
    }
    
    .container .btn{
        background-color: var(--navbtnColor);
        width: 60%;
        padding: 5%;
        border-radius: 10px;
        font-size: 1rem;
        font-family: "Titillium Web", sans-serif;
        font-weight: 800;
        font-style: bolder;
    }

    .bubble-container .first-col .img-2{
        display: none;
    }
    
    
}


@media only screen and (max-width: 768px){
    .side-img img{
        visibility: hidden;
       width: 2%;
    }
}