@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:wght@300;400;700&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
   font-family: "Titillium Web", sans-serif;
   background-color: var(--secondaryColor);
}

:root {
--navbtnColor: #D6FF5C;
--primaryColor: #E7F0FC;
--secondaryColor: #FCF5F6;
--darkColor: #000;
--textColor: #adabab;
}

.logo{
    display: flex;
    gap: 2rem;
}

.logo a{
    display: flex;
    justify-content: baseline;
    gap: 10px;
    font-size: 2rem;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: var(--darkColor);
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    align-items: center;
    height: 80px;
}
.logo .icon{
    font-size: 2rem;
    padding-top: 9px;
}


header nav a{
    text-decoration: none;
    margin: 0 2rem;
    cursor: pointer;
    color: var(--textColor);
    font-size: 1.3rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 550;
    font-style: normal;
}
 header nav a:hover{
    color: var(--darkColor);
 }

.nav-b{
    background-color: var(--navbtnColor);
    outline: none;
    /* border: none; */
    padding: 10px;
    border-radius: 10px;
    width: 15%;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

header .nav-btn{
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.8;
    opacity: 0;
    visibility: hidden;
}

@media only screen and (max-width: 1028px) {

    header .nav-btn{
        visibility: visible;
        opacity: 1;
        right: -1rem;
        position: absolute;
    }

    header{
        display: flex;

    }

    header nav{
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        height: 100%;
        transform: translateX(100vh);
        z-index: 1000;
        transition: 1s;
        top: 0;
        right: 0;
    }

  

    .nav-b{
        display: flex;
        justify-content: center;
        text-align: center;
        right: 0;
        width: 6rem;
        font-size: 8.5px;
    }

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}


@media only  screen and (max-width: 768px) {
    .nav-b{
        background-color: var(--navbtnColor);
        outline: none;
        /* border: none; */
        padding: 10px;
        border-radius: 10px;
        width: 100px;
        font-family: "Titillium Web", sans-serif;
        font-weight: 600;
        font-style: normal;
        cursor: pointer;
        margin-left: 5%;
    }
    
}




